/*CSS Reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Font Faces*/

@font-face {
  font-family: "Raleway-light";
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Light.woff") format("woff"),
    url("fonts/Raleway-Light.ttf") format("truetype"),
    url("fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-bold";
  src: url("fonts/Raleway-Bold.eot");
  src: url("fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Bold.woff") format("woff"),
    url("fonts/Raleway-Bold.ttf") format("truetype"),
    url("fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-medium";
  src: url("fonts/Raleway-Medium.eot");
  src: url("fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Medium.woff") format("woff"),
    url("fonts/Raleway-Medium.ttf") format("truetype"),
    url("fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-italic";
  src: url("fonts/Raleway-Italic.eot");
  src: url("fonts/Raleway-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Italic.woff") format("woff"),
    url("fonts/Raleway-Italic.ttf") format("truetype"),
    url("fonts/Raleway-Italic.svg#Raleway-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display-regular";
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display-italic";
  src: url("fonts/PlayfairDisplay-Italic.eot");
  src: url("fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display-bold";
  src: url("fonts/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@-ms-viewport {
  width: device-width;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}
h3 {
  color: #e2574c;
}

body {
  font-family: "Raleway-regular";
  color: #2d2d2d;
  font-size: 16px;
}
header {
  font-family: "Raleway-medium";
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px auto;
}

.logo img {
  max-width: 150px;
  height: auto;
  flex: 1 0 50%;
  order: 1;
  margin-top: 20px;
  padding: 5px 10px;
}
.cart img {
  max-width: 80px;
  flex: 1 0 50%;
  order: 1;
  margin-top: 20px;
  padding: 5px 5px;
}
nav {
  flex: 1 0 100%;
  order: 2;
}
.main-navigation a {
  color: #e2574c;
  text-decoration: none;
  padding: 5px 7px;
}
.main-navigation li {
  text-transform: uppercase;
  display: inline;
}
.banner {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(images/banner-girl.png) center top 50px no-repeat,
    url(images/flower-bkgd.jpg);
  background-size: cover, contain;
  margin: 10px auto;
  display: flex;
  align-items: center;
  height: 450px;
}
.banner-text {
  text-align: center;
  width: 100%;
  margin: auto;
  min-height: 150px;
}
.banner p {
  font-family: "Raleway-light";
  font-style: normal;
  font-size: 1.5rem;
  margin: 20px;
}
.banner h2 {
  font-family: "Playfair Display-light";
  font-size: 3rem;
  padding-bottom: 20px;
}
.hand-crafted {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: "Playfair Display-regular";
}
.hand-crafted h2{
  font-family: "Playfair Display-regular";
  font-size: 2rem;
  margin: 70px 30px 10px 30px;
} 
.hand-crafted p {
  font-family: "Raleway-light";
  font-size: 1rem;
  margin: 10px 20px 70px 20px;
  line-height: 30px;
}
.classification {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.classification li a {
  color: white;
}
.mens {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  url(images/mens-category.jpg) no-repeat 50%;
  background-size: cover, cover;
  border: 4px solid;
  border-color: white;
  flex: 1 0 100%;
}
.trends {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  url(images/trends-category.jpg) no-repeat 50%;
  background-size: cover, cover;
  border: 4px solid;
  border-color: white;
  flex: 1 0 50%;
}
.glasses {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  url(images/glasses-category.jpg) no-repeat 50%;
  background-size: cover, cover;
  border: 4px solid;
  border-color: white;
  flex: 1 0 50%;
}
.sale {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  url(images/sale-category.jpg) no-repeat 50%;
  background-size: cover, cover;
  border: 4px solid;
  border-color: white;
  flex: 1 0 50%;
}
.bags {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  url(images/bags-category.jpg) no-repeat 50%;
  background-size: cover, cover;
  border: 4px solid;
  border-color: white;
  flex: 1 0 50%;
}
.womens {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  url(images/womens-category.jpg) no-repeat 50%;
  background-size: cover, cover;
  border: 4px solid;
  border-color: white;
  flex: 1 0 100%;
}

.box:before {
  content: "";
  display: block;
  padding-top: 25%;
}

.box-text {
  position: relative;
  text-align: center;
  font-family: "Raleway-bold";
  font-size: 1.5rem;
}

.classification a {
  color: black;
  text-decoration: none;
  font-family: "Raleway-light";
}
.classification li {
  text-transform: uppercase;
  display: inline;
}
.products {
  color: #969696;
  text-align: center;
  padding: 10px 5px 20px 5px;
  margin-bottom: 30px;
}
.products h2 {
  color: #2d2d2d;
  padding: 30px 30px;
  font-family: "Playfair Display-regular";
  font-size: 2rem;
}
.unique-products {
  width: 100%;
  padding: 0px 0px 20px 0px;
}
.relative {
  position: relative;
  top: 0px;
  left: 100px;
}
.updates {
  min-height: 350px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(images/wave-bkgd.jpg) no-repeat;
  background-position: bottom;
  margin-bottom: 11px;
  padding-top: 54px;
  text-align: center;
}
.updates h2 {
  font-size: 2rem;
  font-family: "Playfair Display-regular";
  margin-bottom: 15px;
}
.updates p {
  font-family: "Raleway-light";
  font-size: 16px;
  line-height: 20px;
  margin: 30px 30px;
}
.text-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin: 10px auto;
  width: 20rem;
  height: 2rem;
}
.submit {
  color: white;
  background-color: #e2574c;
  font-family: "Raleway-bold";
  font-size: 0.75rem;
  border-radius: 15px;
  width: 80px;
  height: 32px;
}
.email {
  width: 200px;
  border-color: transparent;
  margin-left: 20px;
  color: #969696;
  font-family: "Raleway-light";
  font-size: 0.75rem;
}
.contact-us {
  background: #242424;
  color: white;
  text-align: center;
  height: 200px;
  flex-direction: column;
  padding-top: 30px;
}
.contact,
.contact-media {
  margin: 5px auto;
  line-height: 20px;
}
.phone-mail a {
  color: white;
}
.done-by,
.phone-mail,
.adresse {
  padding: 5px;
  font-family: "Playfair Display-regular";
}
.adresse {
  color: #969696;
}
.contact-media {
  display: flex;
  justify-content: center;
  font-family: "Raleway-light"
}
.contact-media li a {
  color: white;
  padding: 10px 10px;
  height: 1px;
}
.contact-media li {
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
}
.only-logo {
  display: none;
}

@media screen and (min-width: 600px) {
  header {
    font-family: "Raleway-medium";
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
  }
  header :nth-child(1) {
    order: 1;
  }
  header :nth-child(2) {
    order: 2;
  }
  header :nth-child(3) {
    order: 3;
  }
  .logo img {
    max-width: 150px;
    height: auto;
    flex: 1 0 30%;
  }
  .main-navigation {
    flex: 1 0 30%;
    padding-top: 30px;
  }
  .cart img {
    max-width: 100px;
    flex: 1 0 30%;
    padding: 5px 30px;
  }
  hr {
    display: none;
  }
  .mens,
  .womens {
    flex: 1 0 50%;
    padding-bottom: 9%;
  }

  .trends,
  .glasses,
  .sale,
  .bags {
    flex: 1 0 25%;
    padding-bottom: 15%;
  }
  .box-text {
    position: relative;
    text-align: center;
    
    font-family: "Raleway-bold";
    font-size: 1.5rem;
  }
  .hand-crafted h2 {
    margin: 50px 50px 10px 50px;
  }
  .hand-crafted p{
    margin: 10px 50px 50px 50px;
  }
  .unique-products {
    width: 50%;
  }
  .updates p {
    margin: 30px 70px;
    line-height: 30px;
    margin: 20px 60px 30px 60px;
  }
  .contact-us {
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
  }
  .contact-media li  {
    display: flex;
    flex-direction: column;
  }
  .contact-media li a {
    text-decoration: none;
    text-align: justify;
  }
  .only-logo {
    display: flex;
  }

@media screen and (min-width: 1240px) {

  header :nth-child(1) {
    order: 1;
  }
  header :nth-child(2) {
    order: 2;
  }
  header :nth-child(3) {
    order: 3;
  }
  .logo img {
    max-width: 200px;
    height: auto;
    flex: 1 0 30%;
    padding: 10px 10px 0px 10px;
  }
  .main-navigation {
    flex: 1 0 30%;
    padding-top: 30px;
  }
  .cart img {
    max-width: 150px;
    flex: 1 0 30%;
    padding: 5px 40px;
  }
  .mens,
  .womens {
    flex: 1 0 50%;
    padding-bottom: 9%;
  }

  .trends,
  .glasses,
  .sale,
  .bags {
    flex: 1 0 25%;
    padding-bottom: 15%;
  }
  
  .hand-crafted p{
    margin: 10px 350px 40px 350px;
  }
  .unique-products {
    width: 25%;
  }
  .updates p {
    margin: 10px 300px 20px 300px;
  }
  .contact-media {
    display: inline-block;
    text-align: justify;
  }
  .contact-media a i {
    width: 30px;
  }
}
