/*CSS Reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Font Faces*/

@font-face {
  font-family: "Raleway-light";
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Light.woff") format("woff"),
    url("fonts/Raleway-Light.ttf") format("truetype"),
    url("fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-bold";
  src: url("fonts/Raleway-Bold.eot");
  src: url("fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Bold.woff") format("woff"),
    url("fonts/Raleway-Bold.ttf") format("truetype"),
    url("fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-medium";
  src: url("fonts/Raleway-Medium.eot");
  src: url("fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Medium.woff") format("woff"),
    url("fonts/Raleway-Medium.ttf") format("truetype"),
    url("fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-italic";
  src: url("fonts/Raleway-Italic.eot");
  src: url("fonts/Raleway-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Italic.woff") format("woff"),
    url("fonts/Raleway-Italic.ttf") format("truetype"),
    url("fonts/Raleway-Italic.svg#Raleway-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display-regular";
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display-italic";
  src: url("fonts/PlayfairDisplay-Italic.eot");
  src: url("fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display-bold";
  src: url("fonts/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@-ms-viewport {
  width: device-width;
}

em {
  font-style: italic;
}

strong{
  font-weight: bold;
}

body {
  font-family: "Raleway";
  font-style: light;
  color: #2d2d2d;
  font-size: 16px;
}
header {
  font-family: "Raleway-medium";
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px auto;
}

.logo img {
  max-width: 150px;
  height: auto;
  flex: 1 0 50%;
  order: 1;
  margin-top: 20px;
  padding: 5px 10px;
}
.cart img {
  max-width: 80px;
  flex: 1 0 50%;
  order: 1;
  margin-top: 20px;
  padding: 5px 5px;
}
nav {
  flex: 1 0 100%;
  order: 2;
}
.main-navigation a {
  color: #e2574c;
  text-decoration: none;
  padding: 5px 7px;
}
.main-navigation li {
  text-transform: uppercase;
  display: inline;
}
.banner {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(images/banner-girl.png) center top 50px no-repeat,
    url(images/flower-bkgd.jpg);
  background-size: cover, contain;
  margin: 10px auto;
  display: flex;
  align-items: center;
  height: 450px;
}
.banner-text {
  text-align: center;
  width: 100%;
  margin: auto;
  min-height: 150px;
}
.banner p {
  font-family: "Raleway";
  font-style: normal;
  font-size: 1.5rem;
  margin: 20px;
}
.banner h2 {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  padding-bottom: 20px;
}
.hand-crafted {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 100px auto;
}
.hand-crafted span {
  font-size: 2rem;
  padding:10px 10px;
}
.hand-crafted p {
  font-family: "Raleway";
  font-size: 1rem;
  padding: 10px 10px;
}
.classification {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.classification li a {
  color: white;
}
.mens {
  height: 200px;
  max-width: 100%;
  position: relative;
  text-align: center;
  background: url(images/mens-category.jpg) center center no-repeat;
  background-size: cover, contain;
  border: 4px solid;
  border-color: white;
  flex: 1 0 100%;
  line-height: 200px;
}
.trends {
  height: 200px;
  max-width: 100%;
  position: relative;
  text-align: center;
  background: url(images/trends-category.jpg) center center no-repeat;
  background-size: cover, contain;
  border: 4px solid;
  border-color: white;
  flex: 1 0 50%;
  line-height: 200px;
}
.glasses {
  height: 200px;
  max-width: 100%;
  position: relative;
  text-align: center;
  background: url(images/glasses-category.jpg) center center no-repeat;
  background-size: cover, contain;
  border: 4px solid;
  border-color: white;
  flex: 1 0 50%;
  line-height: 200px;
}
.sale {
  height: 200px;
  max-width: 100%;
  position: relative;
  text-align: center;
  background: url(images/sale-category.jpg) center center no-repeat;
  background-size: cover, contain;
  border: 4px solid;
  border-color: white;
  flex: 1 0 50%;
  line-height: 200px;
}
.bags {
  height: 200px;
  max-width: 100%;
  position: relative;
  text-align: center;
  background: url(images/bags-category.jpg) center center no-repeat;
  background-size: cover, contain;
  border: 4px solid;
  border-color: white;
  flex: 1 0 50%;
  line-height: 200px;
}
.womens {
  height: 200px;
  max-width: 100%;
  position: relative;
  text-align: center;
  background: url(images/womens-category.jpg) center center no-repeat;
  background-size: cover, contain;
  border: 4px solid;
  border-color: white;
  flex: 1 0 100%;
  line-height: 200px;
}
.classification a {
  color: black;
  text-decoration: none;
}
.classification li {
  text-transform: uppercase;
  display: inline;
}
.products {
  color: #969696;
  text-align: center;
  padding: 10px 30px 20px 30px;
  margin-bottom: 30px;
}
.products h2 {
  color: #2d2d2d;
  padding: 10px 10px;
  font-size: 2rem;
}
.unique-products span,
.unique-products h3 {
  text-align: center;
}

h3 {
  color: #e2574c;
}

.relative {
  position: relative;
  top: 0px;
  left: 100px;
}
.updates {
  min-height: 350px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(images/wave-bkgd.jpg) no-repeat;
  background-position: bottom;
  margin-bottom: 11px;
  padding-top: 54px;
  text-align: center;
}
.updates h2 {
  font-size: 35px;
  margin-bottom: 12px;
}
.updates p {
  font-size: 16px;
  line-height: 25px;
  margin: 15px 0;
}
.text-submit {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  height: 30px;
  justify-content: space-between;
  align-content: center;
  margin: 10px auto;
  width: 250px;
  height: 5px;
}
.email {
  width: 200px;
  border-color: transparent;
  margin-left: 20px;
}
.submit {
  color: white;
  background-color: #e2574c;
  border-radius: 15px;
  width: 80px;
  height: 30px;
}
.contact-us {
  display: flex;
  justify-content: space-between;
  background: #242424;
  text-align: center;
  height: 200px;
  flex-direction: column;
}
.contact {
  line-height: 20px;
  font-family: "Playfair Display";
}
.done-by .adresse {
  color: white;
  font-family: "Playfair Display";
  text-align: left;
}
.contact-media {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex: 0 0 30%;
}
.contact-media li a {
  color: white;
  text-decoration: none;
  padding: 10px 10px 10px;
  height: 1px;
}
.contact-media li {
  list-style: none;
  text-transform: uppercase;
}
.only-logo {
  display: none;
}

.text-submit {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  width: 25em;
  height: 2em;
}

@media screen and (min-width: 1240px) {
  .logo img {
    max-width: 150px;
    height: auto;
  }
  .mens,
  .womens {
    flex: 1 0 50%;
  }

  .trends,
  .glasses,
  .sale,
  .bags {
    flex: 1 0 25%;
  }
  .classification div {
    background-size: cover, contain;
  }
  .contact-media {
    text-align: justify;
  }
  .contact-media a i {
    width: 30px;
  }
}

@media screen and (min-width: 600px) {
  .logo img {
    max-width: 250px;
    height: auto;
    flex: 1 0 33.33%;
    order: 1;
  }
  .cart img {
    max-width: 40px;
    flex: 1 0 50%;
    order: 1;
    padding: 5px 5px;
  }
  hr {
    display: none;
  }
  .mens,
  .womens {
    flex: 1 0 50%;
  }

  .trends,
  .glasses,
  .sale,
  .bags {
    flex: 1 0 25%;
  }
  .classification div {
    background-size: cover, contain;
  }
  .contact-media {
    text-align: justify;
  }
  .contact-media a i {
    width: 30px;
  }
}
